@import 'partials/global';
@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';

h1,h2,h3,h4,h5{
	text-align: center;
	padding:0;
	margin:0;
}

h1{
	font-size:3.6rem; 
	font-family: 'Unna', serif;
}
h2{
	font-size:7.2rem; 
	font-family: 'Abril Fatface', cursive;
	max-width: 75%;
}
h3{
	font-size:1.2rem; 
	font-family: 'Poppins', sans-serif; 
	padding: 5px 0 40px 0;
	letter-spacing: 5px;
	font-weight: 300;
	text-transform: uppercase;
	max-width: 75%;
}
h4{
	font-size:1.2rem; 
	font-family: 'Poppins', sans-serif; 
	letter-spacing: 0.25px;
	font-weight: 400;
	max-width: 75%;
}

a {
	outline:0;
}

header{
	z-index:100;
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:50px 0;
	color:white;
	text-transform: uppercase;
	ul{
		display:flex;
		padding:0;
		li{
			display: inline-block;
			list-style: none;
			padding:0;
			a{
				font-size: 1.2rem;
				text-decoration: none;
				color:white;
			}
		}
	}
	nav{
		text-align: center;
		@media (max-width:830px) {
			transform: translateY(100%);
			// max-width: 90%;
		}
		ul {
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
		}
		li{
			padding:0 25px;
			@media (max-width:1000px) {
				padding:0 10px;
			}
			@media (max-width:830px) {
				float:left;
			}
		}

		// poppins semi bold 
	}
	.social {
		position: absolute;
		right:7.8125%;
		font-size: 1.2rem;
		ul li {
			margin:5px;
			transition: all 0.2s ease-in;
		}
		ul li:hover{
			transform: scale(1.2);
		}
	}
	.logo{
		position: absolute;
		display: flex;
		align-items: center;
		left:7.8125%;
		img{
			padding: 18px;
		}
		.logoImg{
			border: none;
			outline:none;
		}
		button{
			display: flex;
			align-items: center;
		}
	}
}

.hamburger {
	width:30px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding:0;
	border:none;
	background: transparent;
	div {
		border:solid 1px white;
	}
	.midLine{
		margin:5px 0;
		height:1px;
		background:white;
		width:30px;
	}
	.line {
		width:20px;
	}
}

.cross{
	background-color: transparent;
	border:none;
	color:white;
	font-size: 40px;
	width:30px;
}

.options{
	position: absolute;
	left:7.8125%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.heart{
		font-size: 16.5px;
	}
	.fullscreen{
		font-size: 18px;
		padding:30px 0;
	}
	*{
		margin:0;
		padding:0;
	}
	.info {
		position: relative;
		height:20px;
		width:20px;
		border: 1px solid white;
		border-radius: 50%;
		i {
			position: absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
		}
	}
	@media (max-width: 400px){
		display: none;
	}
}

.scroll{
	position:absolute;
	bottom:0;
	left:50%;
	display:flex;
	flex-direction: column;
	align-items: center;
	width:13px;
	.mouse img{
		width:12px;
		height:auto;
		margin-bottom:10px;
	}
	.line {
		height:70px;
		width:1px;
		background: white;
	}
}

.location{
	display:flex;
	flex-direction: column;
	position: absolute;
	right:7.8125%;
	transition: all .2s ease-in-out;
	.circle{
		height:10px;
		width:10px;
		border: 1px solid white;
		border-radius: 50%;
		margin-bottom: 10px;
		// transition: transform 2s ease-in-out 0;
	}
	.circle:hover{
		transform: scale(1.1);
	}
	.circle5{
		margin:0;
	}
	.circleFill{
		background-color: white;
	}
	@media (max-width: 400px){
		display: none;
	}
}

.arrowLink {
	margin-top: 150px;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

.play {
	width: 100px;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6e6f71;
	border-radius: 50%;
	margin-top:30px;
	transition: all .2s ease-in-out; 
	.play2 {
		width:80px;
		height:80px;
		display: flex;
		justify-content: center;
		align-items: center;
		background:#9a9a9c;
		border-radius: 50%;
		.playTriangle {
		  width: 0; 
		  height: 0; 
		  border-top: 11.547px solid transparent;
		  border-bottom: 11.547px solid transparent;
		  border-left: 20px solid white;
		  transform: translateX(3px);
		}
	}
}
.play:hover{
	transform: scale(1.2);
}

.photo{
	background-color: #1d1e1f;
	height:100vh;
	width:100%;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	a{
		color:white;
		text-decoration: none;
	}
}

.photo2, .photo4 {
	background-color: #2f3133;
}

// .photo1{
// 	background: url('../../assets/photos/DSC_5163-min.jpg');
// 	background-size: cover;
// } 
// .photo2{
// 	background: url('../../assets/photos/DSC_5455-min.jpg');
// 	background-size: cover;
// }
// .photo3{
// 	background: url('../../assets/photos/DSC_4879-min.jpg');
// 	background-size: cover;
// }
// .photo4{
// 	background: url('../../assets/photos/DSC_8547-min.jpg');
// 	background-size: cover;
// }
// .photo5{
// 	background: url('../../assets/photos/DSC_5615-min.jpg');
// 	background-size: cover;
// }

// footer{
// 	background-color: #040404;
// 	padding: 100px;
// }

// .bMain{
// 	display:flex;
// 	align-items: center;
// 	flex-direction: column;
// 	background-color: transparent;
// }

// BLOG

.bBody {
	background: #f5f5f5;
}

.container {
	margin: 0 auto;
	max-width:1170px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	background-color: transparent;
}

.bHPic{
	width:100%;
	height:400px;
	background-color: #828893;
	margin: 100px 0 115px 0;

	position:relative;
	display: flex;
	justify-content: center;
}

.title{
	position:absolute;
	width:970px;
	padding: 50px 30px;
	margin:0 auto;
	background:white;
	bottom:-115px;
	box-shadow: 0 30px 50px 1px rgba(0,0,0,0.1);
	h1{
		text-transform: capitalize;
		margin:0;
		padding:15px;
	}
	div {
		display:flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		p{
			font-family: 'Poppins', sans-serif; 
			padding: 5px 20px;
			margin:0;
			color:#a9aaae;
			strong{
				color:black;
			}
		}
	}
	@media (max-width: 1050px) {
		max-width:90%;
	}
}

.textCont {
	margin:70px auto;
	max-width:770px;
}

.text {
	font-size: 2rem;
	font-family: 'PT Serif', serif;
	color:#4c4d50;
	line-height: 36px;
	p{
		margin:0;
	}
	.word{
		font-size: 7.2rem;
		float:left;
		line-height: 7.2rem;
		padding-right: 5px;
	}
	blockquote {
		font-style: italic;
		font-size:3rem;
		padding: 0 70px;
		color: #d9d9da;
		text-align: center;
	}
	.proverb{
		font-family: 'Poppins', sans-serif; 
		font-size: 1.2rem;
		color:black;
		letter-spacing: 0.1rem;
		text-align: center;
		padding:10px 0 60px 0;
	}
}

.textPic {
	width: 100%;
	height:100vh;
	background: #828893;
}

.tags{
	display: flex;
	justify-content: space-between;
	margin: 90px 0 65px 0;
	p {
		font-family: 'Poppins', sans-serif; 
		// padding: 5px 20px;
		margin:0;
		color:#a9aaae;
		strong{
			color:black
		}
		.share {
			padding-right: 20px;
		}
		a {
			color:black;
			padding: 0 10px;
			font-size: 1.2rem;
		}
	}
}

.reply {
	.replyForm{
		// display: flex;
		// justify-content: center;
		// flex-direction: column;
	}
	p{
		font-size: 1.4rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
	}
	div {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.inputs {
		width:100%;
		display:flex; 
		justify-content: space-between;
		flex-direction: row;
	}
	input{
		width:48.1%;
		padding: 20px 30px;
		border: 1px solid #dfdfe1;
		font-family: 'Poppins', sans-serif;
		display: inline-block;
		// float:left;
		// margin:15px;
	}
	input::placeholder{
		color:#dfdfe1;
	}
	textarea{
		width:100%;
		padding: 20px 30px;
		border: 1px solid #dfdfe1;
		height:200px;
		resize:none;
		margin: 30px 0;
	}
	textarea::placeholder{
		color:#dfdfe1;
	}
	button{
		margin:0 auto;
		padding: 20px 30px;
		font-family: 'Poppins', sans-serif; 
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-size: 1.2rem;
		background: white;
		width:275px;
		border:none;
		box-shadow: 0 0 40px 1px rgba(0,0,0,0.01);
	}
}

hr {
	margin: 70px 0;
}

.comment {
	width:100%;
	display:flex;
	margin:25px 0;
	p{
		margin:0;
	}
	.userImg{
		width:70px;
		height:70px;
		border-radius: 50%;
		background:#828893;
		margin-right: 30px;
	}
	.userName{
		font-family: 'Unna', serif;
		font-size: 2rem;
		letter-spacing: 0.25px;
	}
	.userDesc{
		font-family: 'Poppins', serif;
		font-size: 1.2rem;
		letter-spacing: 0.25px;
		line-height: 2.4rem;
		margin:20px 0;
		max-width: 670px;
	}
	.reply {
		font-family: 'Poppins', serif;
		font-weight: 500;
		font-size: 1rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
	}
}

// FOOTER

footer {
	position: relative;
	background:#0c0c0c;
	color:#fff;
	padding:100px 0;
	min-height: 470px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	.container{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.sayHi{
	position: absolute;
	text-align: left;
	left: 7.8125%;
	h5{
		font-family: 'Abril Fatface', sans-serif;
		font-size: 10rem;
		line-height: 80px;
		text-align: left;
	}
	p{
		font-family: 'Poppins', sans-serif;
		font-size: 1.2rem;
		color:#8a8a8a;
		margin:0;
		padding:0;
	}
	.fInfo {
		color:white;
		font-family: 'Unna', sans-serif;
		font-size: 3rem;
		margin: 50px 0;
	}
}

.fNav {
	position: absolute;
	bottom:100px;
	max-width: 670px;
	margin-left:30px;
	display: flex;
	flex-direction: flex-end;
	height:auto;
	right: 7.8125%;
	.navigation, .information {
		min-width: 170px;
		margin-right:30px;
		@media (max-width: 1080px) {
			min-width:28.57%;
			// min-width: 0;
		}
		ul {
			padding:0;
			margin:0;
		}
		li {
			list-style: none;
			margin-top:25px;
		}
		a {
			text-decoration: none;
			font-style: none;
			color:#8a8a8a;
		}
		a:visited {
			color:#8a8a8a;
		}
		a:hover{
			color:#fff;
			width: 100%;
		}
	}
	.fTitle {
		font-family: 'Poppins', sans-serif;
	}
	.sub {
		min-width: 270px;
		position: relative;
		@media (max-width: 1080px) {
			// width:42.86%;
			width: 42.86%;
			// min-width: 0;
		}
		input{
			background: transparent;
			border: none;
			border-bottom: 1px solid #222222;
			// margin: 15px 0 25px 0;
			padding:15px 0;
			width:100%;
			color:#8a8a8a;
		}
		i{
			position:absolute;
			right:0;
			top:47px;
		}
		div{
			margin-top: 45px;
		}
		a{
			text-decoration: none;
			font-style: none;
			color:#8a8a8a;
		}
		a:visited {
			color:#8a8a8a;
		}
		a:hover{
			color:#fff;
			width: 100%;
		}
		div{
			color:#8a8a8a;
		}
	}
}